<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
  <main>
    <form th:action="@{/product/list}">
      <div class="d-flex justify-content-center h-100 mt-4">
        <div class="search"> <input class="search_input" type="text" id="name" name="name" placeholder="Search here..."> 
          <buton type="submit"
            class="btn btn-primary search_icon"><i class="fa fa-search"></i></buton> 
          </div>
      </div>
    </form>
    <div class="container d-flex justify-content-center mt-50 mb-50">
      <div class="row">
        <div class="col-md-4 mt-2" th:each="p,isStat : ${productPage.content}">
          <div class="card">
            <div class="card-body">
              <div class="card-img-actions">
                <a th:href="@{|/product/detail/${p.id}}">
                  <img th:src="@{|/assets/images/${p.image}}" class="card-img img-fluid" style="width:150px ;
                                    height: 230px " alt="">
                </a>
              </div>
            </div>
            <div class="card-body bg-light text-center">
              <div class="mb-2">
                <h6 class="font-weight-semibold mb-2">
                  <a th:href="@{|/product/detail/${p.id}}" class="text-default mb-2" data-abc="true">
                    [[${p.name}]]
                  </a>
                </h6>
              </div>

              <h3 class="mb-0 font-weight-semibold"> [[${#numbers.formatInteger(p.price,3,'POINT')}]] đồng</h3>
              <div> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i
                  class="fa fa-star star"></i> </div>
              <div class="text-muted mb-3">34 reviews</div>
              <button type="button" th:attr="ng-click=@{|cart.add(${p.id})|}" class="btn bg-cart"><i
                  class="fa fa-cart-plus mr-2"></i> Add to cart</button>
            </div>
          </div>
          <div class="product-button-group"><a class="product-button btn-wishlist" href="#" data-abc="true"><i
                class="fa fa-heart"></i><span>Wishlist</span></a><a class="product-button btn-compare" href="#"
              data-abc="true"><i class="fa fa-retweet"></i><span>Compare</span></a><a class="product-button"
              th:href="@{|/product/detail/${p.id}}" data-abc="true"><i
                class="fa fa-angle-right"></i><span>Details</span></a></div>
        </div>
      </div>
    </div>
    <nav aria-label="Page navigation example" th:if="${productPage.totalPages>0}">
      <ul class="pagination justify-content-center">
        <li th:class="${1==productPage.number+1}?'page-item active':'page-item'">
          <a class="page-link" th:href="@{/product/list(name=${name},size=${productPage.size},page=${1})}"
            aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item active" th:each=" pageNumber : ${pageNumbers}" th:if="${productPage.totalPages >1}"
          th:class="${pageNumber == productPage.number+1} ? 'page-item active':'page-item'">
          <a th:href="@{/product/list(name=${name}, size =${productPage.size}, page=${pageNumber})}" class="page-link"
            th:text="${pageNumber}">

          </a>
        </li>
        <li th:class="${productPage.totalPages==productPage.number+1}?'page-item active':'page-item'">
          <a class="page-link"
            th:href="@{/product/list(name=${name},size=${productPage.size},page=${productPage.totalPages})}"
            aria-label="Next">
            <span>&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
    <!-- <nav aria-label="Page navigation example"
        th:if="${productPage.totalPages > 0}">
            
            <ul class="pagination">
              <li th:class="${1 == productPage.number + 1} ? 'page-item active' : 'page-item'" >
                <a class="page-link" th:href="@{/product/list/searchpaginated(name=${name}, 
                size=${productPage.size}, page=${1})}" >
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item" th:each="pageNumber : ${pageNumbers}"
              th:if="${productPage.totalPages > 1}"
              th:class="${pageNumber == productPage.number + 1} ? 'page-item active' : 'page-item'">
              <a class="page-link" th:href="@{/product/list/searchpaginated(name=${name}, 
              size=${productPage.size}, page=${pageNumber})}" >
                <span aria-hidden="true" th:text="${pageNumber}"></span>
              </a>
                </li>
              <li th:class="${productPage.totalPages == productPage.number + 1} ? 'page-item active' : 'page-item'" >
                <a class="page-link" th:href="@{/product/list/searchpaginated(name=${name}, 
                size=${productPage.size}, page=${productPage.totalPages})}" >
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav> -->
  </main>
</body>

</html>