<div xmlns:th="http://www.thymeleaf.org">
    <!-- About-->
    <section class="page-section mt-5" id="about">
        <div class="card mt-5">
        <div class="container mt-5">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">About</h2>
                <h3 class="section-subheading text-muted">Tiểu sử A Hộp.</h3>
            </div>
            <ul class="timeline">
                <li>
                    <div class="timeline-image"><img class="rounded-circle img-fluid" th:src="@{/assets/img/about/1.jpg}"
                            alt="..." /></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>2010-2015</h4>
                            <h4 class="subheading">Học trung học cơ sở</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">Đã bao giờ bạn nhớ về mái trường xưa, mái trường trung học cơ sở nơi
                                mà bạn từng đi qua và dừng chân tại đó trên bước đường trưởng thành. Với tôi, mái trường
                                trung học cơ sở đưa tôi rời khỏi những ngây thơ, rời khỏi những gì mà người lớn hay cho
                                là trẻ con. Chính nơi đây tôi học được cách kết bạn, chính nơi đây tôi hiểu được sự cố
                                gắng và học tập quan trọng đến nhường nào, cũng chính nơi đây là nơi đầu tiên cho tôi
                                đặt nền tảng cho ước mơ và tương lai của bản thân.</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" th:src="@{/assets/img/about/2.jpg}"
                            alt="..." /></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>2015-2018</h4>
                            <h4 class="subheading">Năm tháng cấp 3</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">Đừng buồn hay thất vọng khi phải nói lời tạm biệt. Sự chia tay là cần
                                thiết trước khi mọi học sinh có thể gặp lại nhau. Hãy chắc chắn những khoảnh khắc dù dài
                                hay ngắn đều dành cho bạn bè mỗi chúng ta. Đây cũng là mối tình tôi có khi còn cấp 3</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-image"><img class="rounded-circle img-fluid" th:src="@{/assets/img/about/3.jpg}"
                            alt="..." /></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>2018-2022</h4>
                            <h4 class="subheading">Thời sinh viên trên Fpoly</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">Ai mà chưng từng ăn mì gói thay cơm, vất vả kiếm tiền để lo tiền nhà,
                                điện, nước, chật vật đủ điều thì không phải là sinh viên. Nhớ những ngày mới chân ướt
                                chân ráo bước vào một thành phố xa lạ không có người thân, cái gì cũng phải tập làm quen
                                lại từ đầu. Rồi còn đủ thứ chuyện xích mích với mấy đứa cùng phòng trong ký túc xá, hay
                                những đêm thức trắng học ôn, làm đề án.!</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image">
                        <h4>
                            Kỉ niệm
                            <br />
                            Của tôi
                            <br />
                            trên story
                        </h4>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    </section>
    <!-- Team-->
    <section class="page-section bg-light" id="team">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">My Info if you want</h2>
            </div>
            <div class="row">
                <div class="col-lg-4">
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" th:src="@{/assets/img/about/Ahop11.jpg}" alt="..." />
                        <h4>A Hộp</h4>
                        <p class="text-muted">Deverleper - Người thiết kế trang web</p>
                        <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/060201ahop/"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/hopcrcu/"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <p class="large text-muted">Cảm ơn bạn đã qua shop tôi mua hàng : <3</p>
                </div>
            </div>
        </div>
    </section>
</div>