<div xmlns:th="http://www.thymeleaf.org">
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Welcome To A HOP Shop!</div>
        <div class="masthead-heading text-uppercase">-- LOVE YOU --</div>
        <a class="btn btn-primary btn-xl text-uppercase" th:href="@{/product/list}">Tell Me More</a>
        <br/>
        <ul class="social-list">
            <li>
                <div class="maincard p-3">
                    <div class="thecard">
                        <div class="thefront text-center py-4 facebook">
                            <div class="social-icon"> <i class="fab fa-facebook fa-2x"></i> </div>
                        </div>
                        <div class="theback py-3 px-3 text-center facebook">
                            <div class="social-text mt-1"> <a href="https://www.facebook.com/060201ahop"> <small class="font-weight-bold">Facebook</small> </a></div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="maincard p-3">
                    <div class="thecard">
                        <div class="thefront text-center py-4 instagram">
                            <div class="social-icon"> <i class="fab fa-instagram fa-2x"></i> </div>
                        </div>
                        <div class="theback py-3 px-3 text-center instagram">
                            <div class="social-text mt-1"><a href="https://www.instagram.com/hopcrcu/"><small class="font-weight-bold">Instagram</small></a>  </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="maincard p-3">
                    <div class="thecard">
                        <div class="thefront text-center py-4 youtube">
                            <div class="social-icon"> <i class="fab fa-youtube fa-2x"></i> </div>
                        </div>
                        <div class="theback py-3 px-3 text-center youtube">
                            <div class="social-text mt-1"><a href="https://www.youtube.com/channel/UCVpRvtAfKv7VdBd4ZNtFkBQ"><small class="font-weight-bold">Youtube</small></a>  </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="maincard p-3">
                    <div class="thecard">
                        <div class="thefront text-center py-4 whatsapp">
                            <div class="social-icon"> <i class="fab fa-whatsapp fa-2x"></i> </div>
                        </div>
                        <div class="theback py-3 px-3 text-center whatsapp">
                            <div class="social-text mt-1"> <small class="font-weight-bold">Whatsapp</small> </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="maincard p-3">
                    <div class="thecard">
                        <div class="thefront text-center py-4 twitter">
                            <div class="social-icon"> <i class="fab fa-twitter fa-2x"></i> </div>
                        </div>
                        <div class="theback py-3 px-3 text-center twitter">
                            <div class="social-text mt-1"> <small class="font-weight-bold">Twitter</small> </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</header>
</div>