<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
    <main>
        <div class="col-sm padding-right mt-3">
            <div class="features_items">
                <!--features_items-->
                <h2 class="title text-center">TOP Sản phẩm Của Shop</h2>
                <div class="row">
                    <div class="col-sm-4"  th:each="item : ${top9}">
                        <div class="product-image-wrapper" >
                            <div class="single-products">
                                <div class="productinfo text-center">
                                     <img th:src="@{/assets/img/LOGO.png}" alt="" />
                                    <a th:href="@{|/product/list/searchpaginated?cid=${item.id}|}"
                                        class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>
                                        [[${item.name}]]
                                    </a>
                                </div>
                                <div class="product-overlay">
                                    <div class="overlay-content">
                                        <h3>
                                        <a th:href="@{|/product/list/searchpaginated?cid=${item.id}|}"
                                            class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>
                                            [[${item.name}]]
                                        </a>
                                    </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="choose">
                                <ul class="nav nav-pills nav-justified text-center">
                                    <li><a th:href="@{|/product/list/searchpaginated?cid=${item.id}|}"><i class="fa fa-plus-square "></i>Chi tiết</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--features_items-->
            <div class="container mt-3">
                <div id="carousel">
                    <figure><img th:src="@{/images/dienthoai1.jpg}"></figure>
                    <figure><img th:src="@{/images/dienthoai4.jpg}"></figure>
                    <figure><img th:src="@{/images/dienthoai2.jpg}"></figure>
                    <figure><img th:src="@{/images/dienthoai5.jpg}"></figure>
                    <figure><img th:src="@{/images/dienthoai6.jpg}"></figure>
                    <figure><img th:src="@{/images/dienthoai7.jpg}"></figure>
                    <figure><img th:src="@{/images/dienthoai8.jpg}"></figure>
                    <figure><img th:src="@{/images/tivi3.jpg}"></figure>
                    <figure><img th:src="@{/images/tivi1.jpg}"></figure>
                </div>
            </div>
        </div>
    </main>
</body>

</html>